<h1>New Question</h1>
<div class="song-play">
  <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= @selected_track.uri%>" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
  <div="song-play-cover cover-1"></div>
  <div="song-play-cover cover-2"></div>
</div>

<% @choices_tracks.each do |track| %>
  <%= form_tag(questions_path, method: "post") do %>
    <%= hidden_field_tag(:answer_selection, track.uri.gsub('spotify:track:','')) %>
    <%= hidden_field_tag(:answer, @selected_track.uri.gsub('spotify:track:','')) %>
    <%= hidden_field_tag(:question_id, @question_id) %>
    <%= hidden_field_tag(:game_id, @game.id) %>
    <%= submit_tag(track.name, :id => track.uri, :class => "button_input") %>
  <% end %>
<% end %>

<div class="hack">Game ID: <%= @game.id %></div>