<h1>Settings</h1>
  <table id="user-display">
    <tr>
      <td></td>
      <td class="td-top">
        <img src="<%=@user_avatar%>" alt="avatar" class="icon">
      </td>
    </tr>
    <tr>
      <td class="td-label">Alias</td>
      <td><%= @current_user.name %></td>
    </tr>
    <tr>
      <td class="td-label">Username (email) </td>
      <td><%= @current_user.username %></td>
    </tr>
    <tr>
      <td class="td-label">Player since:</td>
      <td><%= @user_creation %></td>
    </tr>
    <tr>
      <td class="td-top">
        <%= link_to(content_tag(:div, 'Update Account', class:"button"), edit_user_path )%>
      <td>
    </tr>
  </table>

<h1>Statistics</h1>
<table id="user-stats">
  <tr>
    <td class="td-label">Games played: </td>
    <td><%= pluralize(@user_games_count, 'game') %></td>
  </tr>
  <tr>
    <td class="td-label">Cumulative score: </td>
    <td><%= pluralize(@user_points_all, 'point') %></td>
  </tr>
  <tr>
    <td class="td-label">High score: </td>
    <td><%= pluralize(@user_highscore, 'point') %></td>
  </tr>
  <tr>
    <td class="td-label">Avg. score: </td>
    <td><%= pluralize(@user_avgscore, 'point') %></td>
  </tr>
  <tr>
    <td class="td-label">Fastest guess: </td>
    <td><%= pluralize(@user_fastest, 'second') %></td>
  </tr>

  <tr>
    <td class="td-label">Slowest guess: </td>
    <td><%= pluralize(@user_slowest, 'second') %></td>
  </tr>
  <tr>
    <td class="td-label">Accuracy: </td>
    <td><%= @user_correct_count %> / <%= pluralize(@user_questions_count, 'song') %></td>
  </tr>
</table>